.contenedor{
    width: 1366px;
    height: 768px;
    background-color: black;
    margin: auto;
}
header{
    width: 1366px;
    height: 270px;
    background-color: green;
}
nav{
    width: 200px;
    height: 453px;
    background-color: yellow;
}
main{
    width: 951px;
    height: 453px;
    background-color: white;
    margin-left: 200px;
    margin-top: -453px;
}
.anuncio1{
    width: 215px;
    height: 151px;
    background-color: blueviolet;
}
.anuncio2{
    width: 215px;
    height: 151px;
    background-color: grey;
}
.anuncio3{
    width: 215px;
    height: 151px;
    background-color: greenyellow;
}
footer{
    width: 1366px;
    height: 45px;
    background-color: darkgrey;
}
.anuncios{
    margin-left: 1151px;
    margin-top: -453px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    border: 1px solid white;
}

li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid white;
}
li:last-child{
    border-bottom: none;
}

li a.activate{
    background-color: blue;
    color: white;
}

li a:hover:not(.activate){
    background-color: green;
    color: white;
}

.imgbanner{
    width: 100%;
    height: 100%;
}
.imganuncio{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 48px;
    font-family: Arial;
    font-weight: bolder;
    text-align: center;
}
.logo{
    text-align: center;
}
.logo img{
    width: 195px;
    height: 195px;
}

.pbienvenida{
    text-align: justify;
    margin: 10px;
}
