header{
    width: 1366px;
    height: 290px;
    background-color: orange;
}
nav{
    width: 1366px;
    height: 50px;
    background-color: red;
}
main{
    width: 1060px;
    height: 388px;
    background-color: yellow;
}
.anuncio1{
    width: 356px;
    height: 216px;
    background-color: purple;
}
.anuncio2{
    width: 356px;
    height: 194px;
    background-color: deepskyblue;
}
footer{
    width: 1366px;
    height: 40px;
    background-color: green;
}