.border1{
    width: 600;
    height: 650px;
    background-color: blueviolet;
    border-style: dashed;
    border-width: 15px;
    border-color: green;
}
.border2{
    width: 600;
    height: 650px;
    background-color: blueviolet;
    border-style: dotted;
    border-width: 15px;
    border-color: green;
}
.border3{
    width: 600;
    height: 650px;
    background-color: blueviolet;
    border-style: double;
    border-width: 15px;
    border-color: green;
}
.border4{
    width: 600;
    height: 650px;
    background-color: blueviolet;
    border-style: groove;
    border-width: 15px;
    border-color: green;
}
.border5{
    width: 600;
    height: 650px;
    background-color: blueviolet;
    border-style: hidden;
    border-width: 15px;
    border-color: green;
}
.border6{
    width: 600;
    height: 650px;
    background-color: blueviolet;
    border-style:inherit;
    border-width: 15px;
    border-color: green;
}

.border7{
    width: 600;
    height: 650px;
    background-color: blueviolet;
    border-style:solid;
    border-width: 25px;
    border-color: green;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.border8{
    width: 600;
    height: 350px;
    background-color: blueviolet;
    border-style:solid;
    border-width: 25px;
    border-color: green;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.border9{
    width: 600;
    height: 650px;
    background-color: blueviolet;
    border-style:solid;
    border-width: 25px;
    border-color: green;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

.border10{
    width: 600;
    height: 650px;
    background-color: blueviolet;
    border-style:solid;
    border-width: 25px;
    border-color: green;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}