header {
    width: 1370px;
    height: 231px;
    background-image: url(/img/fondocabeza.jpg);
}


.cabeza .cuerpo{
    width: 1366;
    height: 40px;
    background-color: transparent;
    text-align: center;
}

.cabeza .cuerpo .letra {
    margin: 20px;
}

nav {
    width: 1366px;
    height: 64px;
    background-color: transparent;
    text-align: justify;
}

.imagenes {
    display: flex;
    justify-content: center;
    width: 1366px;
    height: 168px;
    background-color: transparent;
}

.imagenes img {
    border-radius: 50%;
}

.boton-container {
    text-align: justify;
}

.boton {
    display: inline-block;
    padding: 22px 130px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    transition: background-color 0.3s ease;
    margin: 0px -3px;
}

.boton:hover {
    background-color: rgb(3, 133, 255);
}

.boton-container::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

main {
    width: 1366px;
    height: 474px;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
}

.iniciode{
    text-align: left;
    margin: 0px;
    margin-top: 0px;
}

.iniciode .arreglar {
    margin: 0px 0px 0px 500px; 
}

.alinear{
    text-align: center;
}

.letra2 {
    text-align: right;
    padding: -100px 10px 10px 100px;
}

.feo {
    width: 1366px;
    height: 20px;
    background-color: transparent;
    display: flex;
}

.feo3 {
    width: 1250px;
    height: 20px;
    background-color: transparent;
}

.feo4 {
    width: 66px;
    height: 20px;
    background-color: transparent

}

.letra {
    color: black;
}
footer{
    width: 1366px;
    height: 50px;
    background-color: transparent;
}

footer img{
    width: 50px;
    height: 50px;
}

.maximo {
    margin: auto;
    width: 1370px;
    height: 816px;
    background-image: url(/img/fondopan.jpg);
}