header {
    width: 1366px;
    height: 231px;
    background-color: aqua;
}

nav {
    width: 1366px;
    height: 64px;
    background-color: blue;
    text-align: justify;
}

.boton-container {
    text-align: justify;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 5px; 
}

.alinear{
    text-align: center;
}

.boton:hover {
    background-color: darkblue;
}

.boton-container::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}


.imagenes {
    display: flex;
    justify-content: center;
    width: 1366px;
    height: 168px;
    background-color: transparent;
}

main {
    width: 1366px;
    height: 474px;
    background-color: yellow;
    overflow: hidden;
}

.centrar{
margin: 580px;
margin-top: -314px;
}
.ubicacion{
    margin: 870px;
    margin-top: -720px;
}
footer{
    width: 1366px;
    height: 50px;
    background-color: aquamarine;
}
.feo {
    width: 1366px;
    height: 20px;
    background-color: transparent;
    display: flex;
}

.feo3 {
    width: 1250px;
    height: 20px;
    background-color: transparent;
}

.feo4 {
    width: 66px;
    height: 20px;
    background-color: transparent
}
.ncentro .dcentro {
    text-align: center;
}
.boton-container {
    text-align: justify;
}

.boton {
    display: inline-block;
    padding: 22px 130px;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    transition: background-color 0.3s ease;
    margin: 0px -3px;
}

.boton:hover {
    background-color: darkblue;
}

.boton-container::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.cabeza .cuerpo{
    width: 1366;
    height: 40px;
    background-color: transparent;
    text-align: center;
}

.letra {
    color: white;
}
.cabeza .cuerpo .letra {
    margin: 20px;
    color: black;
}
.imagenes img {
    border-radius: 50%;
}

footer img {
    width: 50px;
    height: 50px;
}