@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

* {
    font-family: 'Preahvihear', sans-serif;
    font-weight: bold;
}

header {
    width: 1370px;
    height: 231px;
    background-image: url(/img/fondocabeza.jpg);
}

.cabeza .cuerpo{
    width: 1370;
    height: 40px;
    background-color: transparent;
    text-align: center;
}

.cabeza .cuerpo .letra {
    margin: 20px;
    color: black;
}

nav {
    width: 1370px;
    height: 78px;
    background-color: transparent;
}

.ncentro .dcentro {
    text-align: center;
}

.ncentro .dcentro .boton {
}

main {
    width: 1370px;
    height: 474px;
    background-color: transparent;
    overflow: hidden;
}

.check {
    width: 200px;
    height: 500px;
    background-color: transparent;
    float: left;
    background-image: url(/img/fondocategoria.jpg);
}


.imagen1,
.imagen2 {
    width: 1170px;
    height: 237px;
    float: left; 
}

.imagen1 img {
    width: 240px;
    height: 160px;
}

.imagen2 img {
    width: 240px;
    height: 160px;
}

.imagen1 {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.imagen2 {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.letra {
    color: black;
    
}

.imagenes {
    display: flex;
    justify-content: center;
    width: 1366px;
    height: 168px;
    background-color: transparent;
}

.imagenes img {
    border-radius: 50%;
}

.boton-container {
    text-align: justify;
}

.boton {
    display: inline-block;
    padding: 22px 119px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    transition: background-color 0.3s ease;
    margin: 0px -3px;
}   

.boton:hover {
    background-color: darkblue;
}

.boton-container::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.feo {
    width: 1366px;
    height: 20px;
    background-color: transparent;
    display: flex;
}

.feo3 {
    width: 1250px;
    height: 20px;
    background-color: transparent;
}

.feo4 {
    width: 66px;
    height: 20px;
    background-color: transparent

}

.maximo {
    margin: auto;
    width: 1370px;
    height: 788px;
    background-image: url(/img/fondopan.jpg);
}

p {
    margin: 0px;
}

.acomodar1 {
    width: 390px;
    height: 237px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acomodar1 img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.acomodar2 {
    width: 390px;
    height: 237px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acomodar2 img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.acomodar3 {
    width: 390px;
    height: 237px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acomodar3 img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.acomodar4 {
    width: 390px;
    height: 237px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acomodar4 img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.acomodar5 {
    width: 390px;
    height: 237px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acomodar5 img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.acomodar6 {
    width: 390px;
    height: 237px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acomodar6 img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}