
.bordes {
    width: 1366px;
    height: 766px;
    background-color: gold;
    max-width: 1366;
    max-height: 766;
}

.bordes .numero{
    text-align: start;
}

.bordes .numero .email{
    position: aling;
}


header {
    width: 1366px;
    height: 231px;
    background-color: gray;
}

.color {
    width: 1366px;
    height: 66px;
    background-color: skyblue;
}
.inicio {
    text-align: right;
}

.imagen1 {
    padding-left: 298px;
    height: 240px;
    width: 160px;
}

.imagen2 {
    padding-left: 628px;
    width: 240px;
    height: 160px;  
}

.imagen3 {
    margin-left: 970px;
    margin-top: -300;
    width: 240px;
    height: 160px;
}

.imagen4 {
    margin-left: 300px;
    width: 240px;
    height: 160px;
}

.imagen5 {  
    margin-left: 628px;
    margin-top: -400px;
    width: 240px;
    height: 160px;  
}  

.imagen6 {
    margin-left: 970px;
    width: 240px;   
    height: 160px;
}

.categoria {
    width: 200px;
    height: 473px;
    background-color: aqua;
    max-width: 200px;
}

.contenedor {
    width: auto;
    height: auto;
    background-color: red;
    padding-left: 300px;
}  